<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro de usuarios</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Cadastro de usuarios</h1>

    <h2>Usuarios cadastrados</h2>

    <table>
      <thead>
        <tr>
          <th>Nome Completo</th>
          <th>Email</th>
          <th>Password</th>
          <th>CPF</th>
          <th>Id da Instituição</th>
          <th>Editar</th>
          <th>Remover</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="u : ${usuarios}">
          <td th:text="${u.nomeCompleto}"></td>
          <td th:text="${u.email}"></td>
          <td th:text="${u.password}"></td>
          <td th:text="${u.cpf}"></td>
          <td th:text="${u.idInstituicao}"></td>
          <td>
            <a th:href="@{/usuarios/editar/{id}(id=${u.id})}">
              <button>Alterar</button>
            </a>
          </td>
          <td>
            <a th:href="@{/usuarios/remover/{id}(id=${u.id})}">
              <button class="remover">Remover</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <h2>Novo usuario</h2>
    <a href="/usuarios/novo"><button>inserir</button> </a>
  </body>
</html>
